.LoadingTodo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 5px;
    padding: 20px 0px;
  }
  
  .LoadingTodo-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 240px;
    height: 24px;
    border-radius: 5px;
  }
  
  .LoadingTodo-completeIcon,
  .LoadingTodo-deleteIcon {
    border-radius: 50px;
    height: 38px;
    width: 38px;
  }
  
  .LoadingTodo-completeIcon {
    position: absolute;
    left: 10px;
  }
  
  .LoadingTodo-deleteIcon {
    position: absolute;
    right: 10px;
  }
  
  .LoadingTodo-container,
  .LoadingTodo-text,
  .LoadingTodo-completeIcon,
  .LoadingTodo-deleteIcon {
    background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }